<!DOCTYPE html>
<html>

<head>
  <title>Event Bookings</title>
  <link rel="stylesheet" href="/public/assets/styles_booking.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/public/script_files/booking_script.js" async></script>
</head>

<body>
  <div class="header">
  <div class="backButton"><a href="/"><i class="fa fa-home w3-xxlarge"></i></a></div>
  <img src="/public/logos/cellars-logo-white-website.png" alt="">
  <h1 class="booking-heading">Event Bookings</h1>
</div>
  <div class="main-container">
  
    <section aria-label="Advertising Space">
      <div class="advertising">
        <div class="slider-frame">
          <div id="slide-images">

          </div>
        </div>
        
      </div>
    </section>
    
  
</section>
  <div class="form-container">
  <form class="booking-form login" action="/submit_booking" method="post">
    <h2>Booking Form</h2>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" placeholder = "Required" required><br>

      <label for="surname">Surname:</label>
      <input type="text" name="surname" id="surname" placeholder = "Required" required><br>

      <label for="contactNumber">Contact Number:</label>
      <input type="text" name="contactNumber" id="contactNumber"placeholder = "Required"  required><br>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder = "Required" required><br>


<label for="event_id">Event:</label>
<select name="event_id" id="event_id" required>
  <option value="">Please select an event.</option>
  <% events.forEach(event => { %>
    <option value="<%= event.event_id %>"><%= event.eventType %></option>
  <% }); %>
</select><br>

<label for="selectBoothType">Booking Type:</label>
<select name="booth_id" id="booth_id" required>
  <option value="">Please select a booth.</option>
  <% booths.forEach(booth => { %>
    <option value="<%= booth.booth_id %>"><%= booth.boothType%> Seater</option>
  <% }); %>
</select><br>

<label for="selectAlcoholType">Alcohol Selection:</label>
<select name="alcohol_id" id="alcohol_id" required>
  <option value="">Please select alcohol package</option>
  <% alcohol.forEach(alcoholItem => { %>
    <option value="<%= alcoholItem.alcohol_id %>"><%= alcoholItem.alcoholType %></option>
  <% }); %>
</select><br>

<label for="selectFoodType">Food Selection:</label>
<select name="food_id" id="food_id">
  <option value="">Please select your food choice</option>
  <% food.forEach(foodItem => { %>
    <option value="<%= foodItem.food_id %>"><%= foodItem.foodType %></option>
  <% }); %>
</select><br>
<button class="btn btn-primary add-event-button" type="button">ADD TO CART</button>
  </form>
  
  
  </div>
  <div class="login cart-section">
    <h2>Shopping Cart</h2>
    
    <div class="cart-items">
      
    </div>
    
      
  
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <strong class="cart-total-price">R 0</strong>
    </div>
    <button class="submit-cart"  id="submitCart" type="button">Submit Cart</button>
  </div>
   
  </div>
  </div>
  <!--<button class="test" id="test">Test</button>-->
  
  
  
</body>

</html>
